body {
    margin: 0;
    background-color: #ECECEC;
    font-family: verdana, sans-serif;
}

/*Kodning for topbar */

.topbar {
    height: 10vh;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: #000000;
}
.topbar img {
    width: 45px;
    height: auto;
    float: left;
    margin: 8px 8px 8px 25px;
}
.topbar h1 {
    margin: 7px;
    float: left;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    padding: 12px;
}
.logo {
    border-right: solid;
    height: 10vh;
    width: 280px;
    float: left;
}
.t-med {
    height: 10vh;
    float: left;
    width: 230px;
    border-right: solid;
}
.t-med:hover {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.t-med:active {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.t-med p {
    padding: 11px;
    text-align: center;
}
.om-os {
    height: 10vh;
    float: left;
    width: 230px;
    border-right: solid;
}
.om-os:hover {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.om-os:active {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.om-os p {
    padding: 11px;
    text-align: center;
}
.kontakt {
    height: 10vh;
    float: left;
    width: 230px;
    border-right: solid;
}
.kontakt:hover {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.kontakt:active {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.kontakt p {
    padding: 11px;
    text-align: center;
}
.topbar input {
    padding: 10px;
    border: solid;
    font-size: 25px;
    margin: 11px 0px 0px 70px;
    float: left;
}
.topbar button img{
  width: 31px;
  margin-left: 9.2px;
}
.topbar button {
    margin-top: 11px;
    border: solid;
    border-left-width: inherit;
    cursor: pointer;
}