body {
    margin: 0;
    background-color: #ECECEC;
    font-family: verdana, sans-serif;
}

/*Kodning for topbar */

.topbar {
    height: 10vh;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: #000000;
    min-height: 75px;
    position: fixed;
    background-color: #ECECEC;
}
.dar {
    width: 45px;
    height: auto;
    float: left;
    margin: 8px 8px 8px 25px;
    min-width: 45px;
    
}
.topbar h1 {
    margin: 7px;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    padding: 12px;
    color: #000000;
    min-width: 100px;
}
.logo {
    border-right: solid;
    height: 10vh;
    width: 18%;
    float: left;
    min-width: 273px;
    min-height: 75px;
}
.t-med {
    height: 10vh;
    float: left;
    width: 18%;
    border-right: solid;
    min-height: 75px;
}
.t-med:hover {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.t-med:active {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.t-med p {
    text-align: center;
}
.om-os {
    height: 10vh;
    float: left;
    width: 15%;
    border-right: solid;
    min-height: 75px;
}
.om-os:hover {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.om-os:active {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.om-os p {
    padding: 11px;
    text-align: center;
}
.kontakt {
    height: 10vh;
    float: left;
    width: 15%;
    border-right: solid;
    min-height: 75px;
}
.kontakt:hover {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.kontakt:active {
    background-color: #555555;
    color: #FFFFFF;
    border-color: #000000;
}
.kontakt p {
    padding: 11px;
    text-align: center;
}
.topbar input {
    padding: 10px;
    border: solid;
    font-size: 1.5em;
    float: right;
    width: 10%;
    min-height: 18px;
    margin-top: 11.5px;
}
.topbar button img{
  width: 60%;
  margin: 20%;
  float: left;
  min-width: 40%;
  min-height: 18px;
}
.topbar button {
    border: solid;
    border-left-width: inherit;
    cursor: pointer;
    width: 4%;
    height: 6.9vh;
    min-width: 53px;
    min-height: 52px;
    float: right;
    margin-top: 11.5px;
    margin-right: 1%;
}
@media screen and (min-width: 1398px) {
    .topbar input {
        width: 25%;
    }
}
@media screen and (max-width: 1398px) {
    .topbar input {
        width: 20%;
    }
}
@media screen and (max-width: 1180px) {
    .topbar input {
        width: 10%;
    }
}


/*Kode om main*/

.map {
    height: 90vh;
    width: 100%;
    z-index: 0;
}
.rul-ned {
    text-align: center;
    z-index: 1;
}
.rul-ned img {
    display: inline-block;
    width: 5%;
}
